* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

input {
  border: none; 
  outline: none;
  border-bottom: 1px solid grey;
}

h3 {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 30px;
}

/* Background 的部份 */
.BG {
  width: 100%;
  height: 2000px;
  display: flex;
  flex-flow: column nowrap;
}
.BG-image {
  flex-basis: 15%;
  background-color: rgb(160, 150, 150);

}

.BG-color {
  background-color: rgb(209, 192, 218);
  flex-basis: 85%;
}

.container {
  position: absolute;
  background-color: white;
  width: 650px;
  top: 200px;
  left: 50%;
  transform: translate(-50%)
}

/* 表單的部份 */

/* 表單最上面的橘槓 */
.top-block {
  background: rgb(255, 138, 76);
  height: 8px;
  width: 100%;
}

/* 整個表單的外框邊界 */
.form-block {
  margin: 17px;
  margin-top: 40px;
}

/* 表單之間的間距 */
.items-container {
  padding: 18px;
  margin-bottom: 3px;
}

.others {
  padding: 18px;
  margin-bottom: 40px;
}

.submit {
  padding-left: 18px;
}




/* 表單最上方說明文字 */
.info {
  line-height: 14px;
  margin: 17px;
}
.info > h1 {
  font-size: 34px;
  padding-bottom: 16px;
}

.info-note {
  color: red;
  font-size: 13px;
}

/* 必填欄位的星星 */
.star {
  color: red;
}

/* 表格框框的導覽文字 */
input[placeholder] {
  color: grey;
  font-size: 16px;
  padding-bottom: 3px;
}

/* 項目的備註 */
.note {
  font-size: 14px;
  font-weight: 100;
}

/* radio 的項目 */
label[for] {
  font-size: 16px;

} 

input[type=email],input[type=text] {
  width:50%;
  background-color: rgba(255,255,255,0)
}

.how-to-know > input[type=text],
.CS-backgound > input[type=text],
.others > input[type=text] {
    width:100%;
}

/* 提交鈕 */
input[type=submit] {
  padding: 10px 30px;
  border-radius: 4px;
  background-color: rgb(26, 155, 233);
  color: white;
}

input[type=submit]:hover {
  cursor: pointer;
}

/* 提交鈕容器 */
.submit {
  margin-bottom: 25px;
}

.hint {
  padding-left: 18px;
  color: grey;
  font-size: 12px;
}


/* 動態產生的地方 */
.red {
  background-color: #fce8e6;
  padding-bottom: 5px;
  margin-bottom: 5px;

}


.invalidHint {
  color: red;
  font-size: 16px;

}